// Заголовки, общие БЄМ блоки и проче...

// Анимационные эффекты

._anim-fade {
    opacity: 0;
    transition: opacity .8s, transform .8s;

    &._watcher-view,
    ._watcher-view & {
        opacity: 1;
    }
}

._anim-top {
    transform: translateY(-5vh);
    opacity: 0;
    transition: opacity .8s, transform .8s;

    &._watcher-view,
    ._watcher-view & {
        opacity: 1;
        transform: translateY(0%);
    }
}

._anim-left {
    transform: translateX(-10vw);
    opacity: 0;
    transition: opacity .8s, transform .8s;

    &._watcher-view,
    ._watcher-view & {
        opacity: 1;
        transform: translateX(0%);
    }
}

._anim-right {
    transform: translateX(10vw);
    opacity: 0;
    transition: opacity .8s, transform .8s;

    &._watcher-view,
    ._watcher-view & {
        opacity: 1;
        transform: translateX(0%);
    }
}

._anim-bottom {
    transform: translateY(5vh);
    opacity: 0;
    transition: opacity .8s, transform .8s;

    &._watcher-view,
    ._watcher-view & {
        opacity: 1;
        transform: translateY(0%);
    }
}

.logo {
    display: inline-block;
}

.btn {
    font-size: rem(17);
    line-height: math.div(21, 17);

    width: 100%;
    max-width: rem(200);
    height: rem(50);
    background: linear-gradient(90deg, $accentTextColor, #085078);
    padding: rem(5) rem(15);
    border-radius: rem(10);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    span {
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, #60acd4, $accentTextColor);

        opacity: 0;
        visibility: hidden;

        transition: all 0.2s ease 0s;
    }

    &:hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }
}

.heading {
    @include adaptiveValue("font-size", 40, 26);
    line-height: math.div(49, 40);
    text-align: center;
    margin-bottom: em(47, 40);

    position: relative;

    &__bg-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(200);
        line-height: .7;

        white-space: nowrap;

        mix-blend-mode: overlay;
    }

    &__sub {
        @include adaptiveValue("font-size", 25, 20);
        line-height: math.div(30, 25);
        margin-bottom: em(10, 25);

        transition: opacity .3s 0, transform .3s 0;

        ._watcher-view & {
            transition: opacity .8s .2s, transform .8s .2s;
        }
    }

    &__title {
        font-weight: 700;
    }

    &--align-left {
        text-align: left;
    }

    &--bg-text-above {
        .heading__bg-text {
            top: auto;
            transform: translate(-50%, 0);

            bottom: 50%;
        }
    }
}

.backlight {
    position: relative;

    &::before {
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: -1;

        // background: url("@img/decor/backlight/turquoise.svg") 50% 50% / contain no-repeat;
        @include adaptiveValue("width", 1850, 1000);
        @include adaptiveValue("height", 1850, 1000);
        top: 50%;
        left: 50%;
    }
}