//====================================================================================================

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    @include adaptiveValue("padding-top", 48, 20);

    &__container {}

    &__menu {}
}

.menu {
    font-size: rem(17);
    line-height: math.div(21, 17);

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        flex: 0 0 auto;
        @include adaptiveValue("margin-right", 120, 30, $containerWidth, 992);

        position: relative;
        z-index: 2;
    }

    &__icon {}

    &__body {
        flex: 1 1 auto;

        display: flex;

        @media (max-width:$tablet) {

            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            
            background: $mainBgColor;
            @include adaptiveValue("padding-top", 150, 100, 991.98, 320);
            padding-bottom: rem(15);

            transform: translateY(-100%);
            transition: all 0.3s ease 0s;

            .menu-open & {
                transform: translateY(0%);
            }
        }
    }

    &__body-inner {

        display: flex;
        width: 100%;

        @media (max-width:$tablet) {
            overflow: auto;

            flex-direction: column;
            align-items: center;
            
            padding: 0 rem(15);
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        @media (min-width:$tablet){
            flex: 1 1 auto;
            gap: rem(15);
        }

        @media (max-width:$tablet) {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        position: relative;
        
        @media (max-width:$tablet){
            flex-direction: column;
        }
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;

        transition: all 0.2s ease 0s;

        &::before {
            display: block;
            font-size: em(5, 17);
            margin-left: em(8, 5);

            transition: transform 0.2s ease 0s;
        }

        &._spoller-active::before {
            transform: scaleY(-1);
        }

        &:hover {
            color: $accentTextColor;
        }

        @media (max-width:$tablet) {
            padding: 3vh 0;
        }
    }

    &__link-dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;

        margin-top: rem(20);

        @media (max-width:$tablet){
            position: static;
            margin-top: 0;
        }
    }

    &__btn {
        flex: 0 0 auto;
        @include adaptiveValue("margin-left", 75, 30, $containerWidth, 992);

        @media (max-width:$tablet){
            margin: 3vh 0 0;
        }
    }
}

.dropdown {
    width: rem(150);
    background: #211E29;
    border-radius: 4px;
    border: 1px solid #282a44;

    &__link {
        display: block;
        padding: rem(15) rem(15);
        text-align: center;

        transition: all 0.2s ease 0s;

        &:hover {
            color: $accentTextColor;
        }
    }

    @media (max-width:$tablet){
        width: auto;
    }
}


//====================================================================================================

//Burger
.burger {
    display: none;

    @media (max-width: $tablet) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 2;

        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $mainTextColor;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: calc(50% - rem(1));
        }

        .menu-open & {
            span {
                width: 0;
            }

            &::before,
            &::after {}

            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }

            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}